.container{
    background-color: blueviolet;
    text-align: center;
}

body{
    margin: 0 auto;
    width: 960px;
    background-image: url("pic/MIST\ Pic111.jpg");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input{
    width: 80%;
    margin-top: 1%;
    border: 2%;
    border-color:crimson;
   
}
button{
    background-color: crimson;
}
textarea{
    border-color:crimson;
    border: 2%;
}